.jumbotron {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 6) 100%), url(https://github.com/rhinorphan/landing-page/blob/master/img/jumbotron-bg-lg.png);
  background-size: cover;
  background-position: bottom center;
  background-attachment: scroll;
  min-height: 93vh;
  width: 100%;
  border-radius: 0;
}

.navbrand {
  padding-left: 50px;
}

.btn-danger {
  background-color: #ea4020;
  border-color: #ea4020 ;
}

.my-4 {
  border-color: #ea4020;
  height: 1px;
}

.display-4 {
  color: #ea4020;
}

.button{
  background-color: #ea4020 !important;
}

#scroll {
  position: absolute;
  bottom: 60px;
  left: 50%;
}

#middle {
  min-height: 50vh;
}

.card-mid {
  border: none;
}

.img-top {
  max-width: 50%;
  max-height: 50%;
}

#middle2 {
  min-height: 35vh;
}

@media (max-width: 1024px) {
  .jumbotron{
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 6) 100%), url(/img/jumbotron-bg-md.png);
    background-position: bottom center;
    background-size: cover;
  }
}

@media (max-width: 500px) {
  .jumbotron {
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 6) 100%), url(/img/jumbotron-bg-sm.png);
    background-position: bottom center;
  }
  #CTA {
    margin-top: Opx;
  }
  #scroll {
    position: absolute;
    bottom: 0;
    left: 50%;
  }
}