.jumbotron {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 6) 100%), url(/img/jumbotron-bg.png);
  height: 750px;
  background-size: cover;
  background-position: 0 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  border-radius: 0;
}

.navbrand {
  padding-left: 50px;
}

.btn-danger {
  background-color: #ea4020;
  border-color: #ea4020 ;
}

.my-4 {
  border-color: #ea4020;
  height: 1px;
}

.display-4 {
  color: #ea4020;
}

.button{
  background-color: #ea4020 !important;
}

#scroll {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.card {
  border: none;
}

@media (max-width: 900px) {
  .jumbotron{
    background-position: 50% 50%;
  }
}